*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

img{
    width: 80px;
}

ul{
    display: flex;
    gap: 5rem;
    list-style: none;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

main{
    background: url("./assets/medium_hell.svg");
    background-repeat: no-repeat;
    background-size:20vw;
    aspect-ratio: 1;
    background-position: center top;
}


h1{
    font-size: 4.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:19rem;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    padding-top: 1.5em;
}



main{
    background: url("./assets/medium_hell.svg");
    background-repeat: no-repeat;
    background-size:20vw;
    aspect-ratio: 1;
    background-position: center top;
    
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    gap: 3em;
    
}

.img-row{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    
}
 
.img-item img{
    width: 20vw;
    aspect-ratio: 1/1.75;
    object-fit: cover;
}

.img-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: yellow;
    padding: 1.5rem;
    margin: 1.5rem;

}

